.nodata{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* .wrap{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-auto-rows: auto;
    margin: 50px;
    width: 100vw;
    max-width: 100vw;
     padding: 2px;
     margin-left: 2.5rem; 
     margin-top: 2.5rem;
     min-height: 80vh;
     max-height: 100vh;
    
} */